/* 登录页面的样式 */
#loginForm{
    height: 270px;
    width: 800px;
    margin: 200px auto;
    padding-top: 130px;
    border: solid 1px;
}
.right{
    padding-left:280px;
}
#submit{
    margin-left: 360px;
}
#title{
	word-spacing:10px;
	margin-left: 360px;
}